*{
    margin: 0;padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    background-color: #00aa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 20%;
    min-height: 100px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
}
.box p{
text-align: center;
font-size: 19px;
font-weight: 600;
margin-bottom: 10px;
}
.box input{
    height:25px;
    font-size: 1rem;
}

#btn{
    height: 40px;
    color: #fff;
    background-color: #00aa;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    border: none;

}
#qrImgPalce{
    display: flex;
    max-height: 0;
    justify-content: center;
    transition: max-height 2s;
    display: none;

}
#qrImgPalce.show-image{
    display: block;
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1
    
}
a{
    margin: 1px auto;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
}
.error{
    animation:shake 0.2s linear 10;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #f1b4b4;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
    
}
@media (max-width: 600px) {
    /* styles for small screens */
    body {
      font-size: 14px;
    }
    
    .box {
        width: 80vw;

      display: flex;
      flex-direction: column;
    }
    
    .item {
      margin-bottom: 10px;
    }
  }
  